# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/dist
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
*.stackdump

# MongoDB
backend/data/
backend/data/mongodb/
*.wt
*.lock
mongod.lock
storage.bson
WiredTiger*
*.bson

# Sensitive info
**/config/keys.js
**/config/secrets.js 